{% extends "base.html" %}
{% block content %}

{% for base in question %}
    <h4>{{base.content}}</h4>
{% if base.media %}
    <img src="{{base.media.url}}" width="200"/>
{% endif %}
<h1></h1>
    <a href="{% url 'question-edit' base.pk %} " style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Редагувати запитання</a>
<h1></h1>
    <a href="{% url 'question-delete' base.pk %} " style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Видалити запитання</a>
<br>
<br>

{% endfor %}

{% endblock %}