{% extends "base.html" %}
{% block content %}

<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="custom-label-class" style="font-size: 22px; font-weight: 500;">{{ form.title.label }}:ㅤ</label>
        {{ form.title }}
        </div>
        <div class="input-group mb-3">
        <label for="{{ form.title.id_for_label }}" class="custom-label-class" style="font-size: 22px; font-weight: 500;">{{ form.description.label }}:ㅤ</label>
        {{ form.description }}
        </div>
        <div class="input-group mb-3">
        <label for="{{ form.title.id_for_label }}" class="custom-label-class" style="font-size: 22px; font-weight: 500;">{{ form.media.label }}:ㅤ</label>
        {{ form.media }}
        </div>
        {% if object.media %}
            <img src="{{object.media.url}}" width="250"/>
        {% endif %}
        <h1></h1>
        <div class="input-group mb-3">
        <button type="submit" class="btn btn-secondary" style="font-size: 18px; font-weight: 500;">Зберегти</button>
        </div>
    </form>

        <div class="mb-4">
            <a href="{% url 'question-create' %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Додати запитання</a>
        </div>

        <div class="mb-5">
            <a href="{% url 'answer-create' %} " style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Додати відповідь</a>
        </div>

        <div class="mb-6">
            <a href="{% url 'question-list' object.pk %} " style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Список запитань</a>
        </div>


{% endblock %}