{% extends "base.html" %}
{% block content %}




    {% for base in quiz %}
{% if base.questions.exists %}
    <h2> <a href="{% url 'quiz-question' base.questions.first.id %}" style="text-decoration: none"> {{ base.title }} </a> </h2>
{% endif %}
{% if base.media %}
    <img src="{{base.media.url}}" width="200"/>
{% endif %}
    <h4> {{ base.description }} </h4>
    <h5> {{ base.creator }} </h5>
    <h5> {{ base.created_at|date:"d F Y" }} </h5>
    <a href="{% url 'quiz-delete' base.pk %}"> <button type="submit" class="btn btn-danger" style="font-size: 18px; font-weight: 500;">Видалити квіз</button></a>
    <a href="{% url 'quiz-edit' base.pk %}"> <button type="submit" class="btn btn-secondary" style="font-size: 18px; font-weight: 500;">Змінити квіз</button></a>
    <br>
    <br>
    <br>
    {% endfor %}

{% endblock %}