{% extends "base.html" %}
{% block content %}

<img src="{{profile.media.url}}" width="200"/>
<h2>{{ profile.username }}</h2>
<h4>{{ profile.email }}</h4>
<h4>{{ profile.bio }}</h4>

<a href="{% url 'profile-edit' user.pk %}"> <button type="submit" class="btn btn-secondary" style="font-size: 18px; font-weight: 500;">Редагувати профіль</button></a>
<br>
<h1></h1>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" style="font-size: 18px; font-weight: 500;">Вийти з акаунту</button>
</form>

{% endblock %}